html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Titillium Web', sans-serif;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container{
	width: 1100px;
	margin: 0 auto;
}
.clear{
	clear: both;
}
a{
	text-decoration: none;
}
.welcomeSection{
	background-color: #87509c;
	padding: 49px 0px  136px 0px;
}
.logo{
	float: left;
}
.logo img{
	display: block;
}
.header ul{
	float: right;
	margin-top: 3px;
}

.header ul li{
	float: left;
	font-size: 16px;
	line-height: 18px;
	margin-left: 45px;
	font-weight: 400;
}

.header ul li:first-child{
	margin-left: 0px;
}
.header ul li a{
	display: block;
}
.header li a{
	color: #fff;
	padding: 7px 17px 7px 17px;
	border-radius: 4px;
}
.header .active{
	 background-color: #643a79;
}

.header li a:hover{
    background-color: #643a79;
}
.welcomeSection h3{
	font-weight: 700;
	font-size: 42.16px;
	line-height: 48.82px;
	color: #f7f3ea;
}
.headerInfo{
	text-align: center;
	margin-top: 145px;
}
.workBtn{
	font-size: 18px;
	line-height: 26.19px;
	font-weight: 600;
	background-color: #eb7d4b;
	text-align: center;
	width: 293px;
	color: #fff;
	border-radius: 3px;
    display: inline-block;
    padding: 22px 0px;
    

}
.headerInfo span{
	display: block;
}
.headerInfo a{
	margin-top: 63px;
    box-shadow: inset 0px -4px 0px rgba(200,106,64,1);
}
.headerInfo a:hover{
	color: #eb7d4b;
	background-color: #fff;
	 box-shadow: inset 0px -4px 0px rgba(0,0,0,0);

}
.seviceSection{
	background-color: #17c2a4;
    padding: 100px 0px 109px 0px;
    text-align: center;

}
.seviceSection h4{
	font-size: 40px;
	line-height: 29.91px;
	color: #fff;
	font-weight: 700;
	margin-bottom: 22px;
}
.serviceInfo{
	
    padding: 0px 255px;
}
.line{
	background-image:url('sprite.png');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 87px;
	height: 4px;
	display: inline-block;
}
.serviceInfo p{
    font-size: 18px;
    line-height: 26px;
    color: #fff;
    font-weight: 400px;
    margin-top: 24px;

}
.serviceMenu ul li{
	float: left;
	width: 200px;
	text-align: center;
	margin-left: 88px;
}
.serviceMenu{
	margin-top: 79px;
}
.serviceMenu a{
	display: block;
}

.serviceMenu ul li:first-child{
	margin-left: 0px;
}
.seviceSection .serviceMenu h5{
	font-size: 24px;
	line-height: 18px;
	color: #fff;
	font-weight: 700;
	margin-top: 60px;

}

.serviceMenu  a:hover{
	opacity: 0.5;
}/*
.seviceSection .serviceMenu h5:hover{
	color: #79a98c;
}*/

.seviceSection .serviceMenu p{
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	color: #fff;
	margin-top: 30px;
}
.serviceMenu li.clear{
	float: none;
	width: 0px;
}
.teamSection{
    color: #e7f1f8;
    text-align: center;
    padding: 98px 0px 105px 0px;
}
.teamSection h4{
	font-size: 41.29px;
	line-height: 30.87px;
	color: #3c4761;
	font-weight: 700;
	margin-bottom: 23px;
}
.teamSection p{
	font-size: 18.58px;
	line-height: 26.84px;
	color: #3c4761;
	margin-top: 25px;
}
.teamMenu{
	margin-top: 78px;
}
.circle{
	height: 200px;
	width: 200px;
	background-color: #878787;
	border-radius: 50%;
	display:inline-block;
}/*
.circle:hover{
	background-color: #d99b9b;
}*/
.teamMenu li .blueText{
	font-size: 16px;
	line-height: 18px;
	color: #30bae7;
	font-weight: 400;
	margin-top: 15px;
}/*
.teamMenu li .blueText:hover{
	color: #eb7d4b;
}*/
.teamMenu span{
	font-size: 24px;
	line-height: 26px;
	color: #27283d;
	font-weight: 700;
	display: block;
	margin-top: 40px;
}
.teamMenu a{
	display: block;
}/*
.teamMenu span:hover{
	color: #878787;
}*/

.teamMenu a:hover{
	opacity: 0.5;
}
.teamMenu p{
	font-size: 16px;
	line-height: 24px;
	color: #3c4761;
	font-weight: 300;
	margin-top: 30px;

}
.teamMenu ul li{
	
}
.fb{
    background-image:url('sprite.png');
	background-position: -255px 0px;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	display: inline-block;
}
.twitter{
    background-image:url('sprite.png');
	background-position: -156px 0px;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	display: inline-block;
}

.linkedIn{
    background-image:url('sprite.png');
	background-position: -208px 0px;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	display: inline-block;
}

.email{
    background-image:url('sprite.png');
	background-position: -107px 0px;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	display: inline-block;
}
.teamMenu>ul>li{
	width: 202px;
	float: left;
	margin-left: 97px;
	
}

.teamMenu ul li:first-child{
	margin-left: 0px;
}
.socialIcon ul li{
	display: inline-block;
	margin-left: 8px;
}
.socialIcon ul li.clear{
	float: none;
}
.teamMenu ul li.clear{
    float: none;
}
.socialIcon{
	width: 163px;
	margin: 0 auto;
}
.socialIcon ul{
    margin-top: 30px;
	text-align: center;

}
.socialIcon ul:nth-child(even){
    /*padding-right: 44px;
    padding-left: 44px;*/
}
.socialIcon a:hover{
	opacity: 0.5;
}
.portfolioSection{
	background-color: #ffdd99;
	text-align: center;
    padding: 120px 0px 109px 0px;
}
.portfolioSection h4{
	font-size: 40px;
	line-height: 29.91px;
	color: #393939;
	font-weight: 700;
	margin-bottom: 20px; 
}
.portfolioSection p{
	font-size: 18px;
	line-height: 26px;
	color: #393939;
	width: 516px;
	margin: 0 auto;
}
.paraWrap{
	margin-top: 23px;
}
.tabs{
	margin-top: 42px;
}
.tabs ul li{
	display: inline-block;
	margin:0 5px;
	padding: 9.5px 28px;
	border-radius: 4px;
	background-color: #ebc985; 
}

.tabs ul li:hover{
	background-color: #fff;
}
/*
.tabs ul li:first-child{
	margin-left: 0px;
}
*/
.tabs ul li a{
	font-size: 18px;
	line-height: 19.5px;
	color: #393939;	
	display: block;
}
.tabs ul li.clear{
	padding: 0px;
	float: none;
}
.tabs .active{
	background-color: #fff;
}
.work{
	margin-top: 65px;
}
.work ul li{
	float: left;
}
.work ul li.clear{
	float: none;
	margin: 0px;
}
.work li span{
	font-size: 18px;
	line-height: 19.5px;
	color: #393939;
	text-transform: uppercase;
	display: block;
	margin-top: 29px;
}
.work ul li:nth-child(odd){
	margin-right: 18px;
}
.work ul li:nth-child(3),
.work ul li:nth-child(4){
	margin-top: 65px;
}

.work  li a{
	display: block;
}

.work  li a:hover{
	opacity: 0.5;
	color: #eb7d4b;
}
.load{
	font-size: 18px;
	line-height: 26.19px;
	color: #fff;
	font-weight: 600;
	background-color: #17c2a4;
	border-radius: 4px;
	width: 293px;
	display: inline-block;	
    padding: 22px 0;
    box-shadow: inset 0px -4px 0px rgba(20,165,140,1);
    margin-top: 83px;
}
.load:hover{
	color: #17c2a4;
	background-color: #fff;
	box-shadow: inset 0px -4px 0px rgba(0,0,0,0);
}
.aboutUs{
	background-color: #d74680;
	padding-top: 103px;
	padding-bottom: 116px;
	text-align: center;
}
.aboutUs h4{
	font-size: 40px;
	line-height: 29.91px;
	font-weight: 700;
	color: #fff;
	margin-bottom: 24px;
}
.aboutUs span{
	font-size: 18px;
	line-height: 26px;
	color: #fff;
	display: block;
	margin-top: 23px;
}
.aboutUs .circle{
     height: 96px;
     width: 96px;
     background-color: #787878;
     float: left;
}

.aboutUs .circle:hover{
	background-color: #787878;
}

.aboutUs ul{
	margin-top: 70px;
}
.aboutUs li p{
	font-size: 21px;
	line-height: 31.2px;
	color: #fff;
}
.aboutUs h5{
	font-size: 24px;
	line-height: 26px;
	color: #fff;
	font-weight: 700;
	margin-top: 27px;
}

.aboutUs li{
    float: left;
}
.aboutUs li span{
	font-size: 18px;
	line-height: 26px;
	color: #ffdd99;
	margin-top: 0px;
}
.aboutInfo{
	float: right;
	width: 335px;
	margin-left: 48px;
	text-align: left;
}
.aboutUs li.clear{
	float: none;
}

.aboutUs ul li:nth-child(even){
	margin-left: 142px;
}
.aboutUs ul li:nth-child(1),.aboutUs ul li:nth-child(2){
	margin-bottom: 143px;
}
.touchSection{
	background-color: #3c5499;
	text-align: center;
	padding-top: 107px;
	padding-bottom: 101px;

}
.touchSection h4{
	font-size: 40px;
	line-height: 29.91px;
	color: #fff;
	font-weight: 700;
	margin-bottom: 23px;
}
.touchSection span{
	font-size: 18px;
	line-height: 26px;
	color: #fff;
	display: block;
	margin-top: 24px;
}
.touchSection input{
	background-color: #273a71;
	border:none;
	border-radius: 3px;
	color: #fff;
	font-size: 18px;
	line-height: 18px;
	width: 391px;
	padding-left: 25px;
    padding-top: 17px;
    padding-bottom: 16px;
    margin-right: 25px;
   
}
.touchSection form .mail{
	margin-right: 0px;
}
.touchSection .message{
	display: block;
	width: 834px;
	padding-top: 19px;
	padding-bottom: 160px;
	margin-right: 0px;
	margin-top: 27px;
}
form{
	width: 860px;
	margin: 0 auto;
	margin-top: 78px;
}
.touchSection .msgBtn{
	font-size: 18px;
	line-height: 26.19px;
	color: #fff;
	font-weight: 600;
	width: 293px;
	border-radius: 3px;
	display: inline-block;
	padding: 22px 0px;
	background-color: #30bae7;
    box-shadow: inset 0px -4px 0px rgba(41,158,197,1);
    margin-top: 59px;
}
.msgBtn:hover{
    background-color: #fff;
    color: #30bae7;
    box-shadow: inset 0px -4px 0px rgba(0,0,0,0);
}

.footer{
	background-color: #344b8e;
	border-top: 1px solid #3c5499;
	text-align: center;
	padding-top: 39px;
	padding-bottom: 28px;
}

.footer ul {
    width: 940px;
    margin: 0 auto;
}
.footer ul li{
	display: inline-block;
    font-size: 24px;
    line-height: 29.91px;
   
    font-weight: 600;
    margin-left: 55px;
}

.footer ul li:first-child{
	margin-left: 0px;
}

.footer li a{
	color: #fff;
}
.footer li.clear{
	float: none;
}

.footer li a:hover{
	color: #30bae7;
}
.footer .active{
	color: #30bae7;

}
