/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container{
	width: 1170px;
	margin: 0 auto;
}
.Blackheader{
	background-color: #282828;

}
.logo{
	float: left;
	margin-top: 10px;
}

.Blackheader ul li a{
	float: left;
	text-decoration: none;
	color: #ffffff;
}
.Blackheader ul{
	float: right;
}


.Blackheader li{
	float: left;
}


.Blackheader li a{
    padding: 29px 22px;
}
.Blackheader li a:hover{
	background-color: #c2272d;
	font-weight: bold;
	
}
.account{
	background-image: url('images/account.png');
	background-repeat: no-repeat;
	vertical-align: middle;	
    display: inline-block;
    height: 7px;
    width: 9px;
    margin-left: 6px;
}
.logout{
	background-image: url('images/logout.png');
	background-repeat: no-repeat;
	vertical-align: middle;
	display: inline-block;
    height: 19px;
    width: 15px;
    margin-left: 6px;
}
.clear{
	clear: both;
}
.Whiteheader{
	background-color: #f1f1f1;
}
.Whiteheader h2{

	font-family:RBNo2;
	font-size: 45px;
	color: #c1272d;
	font-weight: normal;

}

.Whiteheader h2{
	float: left;
    margin-top: 12px;
    margin-right: 50px;
}
.Whiteheader a{
	float: left;
	text-decoration: none;

}

.Whiteheader ul li{
	float: left;
}
 
.Whiteheader li a:hover{
	background-color: #ffffff;
	font-weight: bold;
}
.Whiteheader ul li h3{
    padding: 30px;
    color: #4c4c4c;
}
.data .container {
	width: 780px;
}
.data li{
	padding: 62px 90px 63px 90px;

    border-bottom: 2px solid #c6c6c6;
}
.oneLeft{
	height: 106px;
	width: 262px;
	float: left;
}
.oneLeft span{
	display: block;
}
.oneRight{
	height: 106px;
	width: 328px;
	float: right;
}
.oneRight a{
	float: right;
	width: 100%;
	height: 40px;
	background-color: #ebebeb;
	text-align: center;
	text-decoration: none;
    font-size: 16px;
    line-height: 2;
    color: #000000;
    font-weight: bold;
}
.mac a{
    margin-bottom: 16px;
}

 .arrow{
	background-image: url('images/arrow.png');
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	height: 30px;
	width: 30px;
    margin-right: 35px;
    margin-top: 7px;
}

.footer{
	background-color:#282828;
	text-align: center;
}
.footer h2{
	font-size: 12px;
	color: #ffffff;
    padding-bottom: 20px;
    padding-top: 20px;
}

.footer h2 span{
	color: #c1272d;
}

.note h2{
	font-size: 16px;
	color: #000000;
	text-align: center;
    margin-top: 90px;
    margin-bottom: 90px;
}

.note h2 span{
	color: #c1272d;
}
.note a{
    text-decoration: none;
}
.logo2{
	background-image: url('images/images/logo2.png');
	display: inline-block;
	vertical-align: middle;
	background-repeat: no-repeat;
	height: 16px;
	width: 16px;
}
li.borderzero{
	border-bottom: none;
}