.logo{

	background-image: url('images/logo.png');
	background-repeat: no-repeat;
	vertical-align: middle;
	display: inline-block;
	width: 58px;
	height: 65px;
}
.head>.navbar{
	min-height: 72px;
	margin-bottom: 0px;
}

.navbar-header .navbar-brand{
	height: 0px;
	padding: 4px 33px;
}
.active{
	color: #a01d26;
}

.banner img{/*
	background-size: cover;
	height: 300px;*/
	width: 100%;
}
.banner{

	position: relative;
}
.post{

	background-image: url('images/post.png');
	background-repeat: no-repeat;
	vertical-align: middle;
	display: inline-block;
	width: 29px;
	height: 22px;
    margin-right: 23px;
}
.handicam{

	background-image: url('images/handicam.png');
	background-repeat: no-repeat;
	vertical-align: middle;
	display: inline-block;
	width: 29px;
	height: 22px;
    margin-right: 23px;
}
.find{

	background-image: url('images/find.png');
	background-repeat: no-repeat;
	vertical-align: middle;
	display: inline-block;
	width: 29px;
	height: 22px;
    margin-right: 23px;
}
.banner span{
	font-size: 16px;
	line-height: 24px;
	color: #a01d26;
}
.banner .container .jumbotron{
   
    padding-top: 14px;
    padding-bottom: 16px;
    border-radius: 0px;
    position: absolute;
    width: 1140px;
    bottom: 23px;
}

.banner .container .jumbotron a{
	text-decoration: none;
}
.golfBanner .container .jumbotron{
	background-color: #a01d26;
	border-radius: 0px;
	text-align: center;
    padding-bottom: 11px;
    padding-top: 11px;
    margin: 0px;
}
.speaker{

	background-image: url('images/speaker.png');
	background-repeat: no-repeat;
	vertical-align: middle;
	display: inline-block;
	width: 40px;
	height: 40px;
	float: left;
}
.golfBanner .jumbotron span{
	color: #fff;
	font-size: 16px;
	line-height: 24px;
}
.line{

	background-image: url('images/line.png');
	background-repeat: no-repeat;
	vertical-align: middle;
	display: inline-block;
	width: 31px;
	height: 30px;
	border:1px solid #fff;
	float: right;
}
.golfpic{
	background-image: url("images/golfBanner.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 125px;
	margin-bottom: 30px;

    padding-top: 28px;
    padding-left: 20px;
    padding-right: 12px;
	
}
.canada{

	background-image: url('images/canada.png');
	background-repeat: no-repeat;
	vertical-align: middle;
	display: inline-block;
	width: 200px;
	height: 36px;
    float: left;
}
.golfpic span{
	font-size: 18px;
	line-height: 24px;
	color: #000;
}
.redBtn{
	background-color: #a01d26;
	color: #fff;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 23px;
    padding-right: 30px;
    float: right;
}
.golfpic a:hover{
    text-decoration: none;
    color: #fff;
}
.para{
	width: 643px;

}
.news h3{
	float: left;
	font-size: 22px;
	line-height: 18px;
	color: #444444;
}
.picture .news .dropdown{
	float: right;

    padding-right: 41px;
    padding-top: 16px;
    
}
.navbar ul li{
	position: relative;
}
/*.dropMenu{
	position: absolute;
	list-style: none;
    top: 40px;
    background-color: #ff0;
    display: none;
}
.navbar ul li .dropdownCustom{
	position: relative;
	display: block;
}

.dropdownCustom:hover .dropMenu{

	display: block;
}*/
button{

    background-color: #fff;
    border: 1px solid #ddd;
    padding-bottom: 14px;
    padding-top: 14px;
    color: #a01d26;
    padding-left: 15px;
    padding-right: 15px;
    /*float: right;*/
}
 
.picture .news .dropdown .btn-primary
{
    width: 130px;
    height: 40px;
    color: #a01d26;
    background-color: #fff;
    border-color: #ddd;
}
.pgaBox{
	border:1px solid #dddddd;
	width: 370px;
	height: 288px;
	margin-top: 15px;
}
.pgaBox img{
    height: 154px;
    width: 100%;
}
.newsBox span{
	font-size: 13px;
	line-height: 15px;
	color: #666666;
	float: left;
	padding: 10px;
	margin: 0px;
}
.newsBox h4{
	font-size: 13px;
	line-height: 15px;
	color: #a01d26;
	float: left;
	padding: 10px;
	margin: 0px;
}
.newsBox h3{
	font-size: 22px;
	line-height: 30px;
	color: #444444;
    margin-left: 15px;
}
.picture img{
	width: 805px;
}

a {
    text-decoration: none;
    font-size: 15px;
    line-height: 18px;
}
.navbar-nav>li>a{
	padding:0;
}
.nav>li>a{
	padding:0;
}
.mainMenu>li>a{
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 15px;
    padding-right: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px;
    top: 0px;
    left: 1px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.leaderboard ul li{
	list-style: none;
}
.championship ul li{
	list-style: none;
}
.pannel h2{
	font-size: 20px;
	line-height: 18px;
}
.upperLine{
	border-top: 1px solid #ddd;
}
.pannel a{
	text-decoration: none;
}

.championship h2{

	font-size: 16px;
	line-height: 13px;
	font-weight: bold;
	margin-top: 50px;
}
.blueClr{
	font-size: 12px;
	line-height: 14px;
	color: #1a237e;
}
.championship h4{
	color: #a01d26;
	font-size: 18px;
	line-height: 22px;
}
.leaderboard button{
	color: #555c9f;
}
.longBtn{
	width: 810px;
	margin-top: 30px;
}