html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	font-family: 'Quicksand', sans-serif;
}
.container{
	width: 1165px;
	margin: 0 auto;
}
a{
	text-decoration: none;
}
.blackHeader{
	background-color: #282828;

}
.logo{
	float: left;
}

.blackHeader a{
	display: block;
	float: left;
	color: #ffffff;
    font-size: 14px;
    line-height: 29px;
    border-top: 4px solid #282828;
    font-weight: 700;
}
.blackHeader ul{
	float: left;
}


.blackHeader li{
	float: left;
}
.menu{
	float: right;

   
}
.menu a{
	padding: 20px;
}

.blackHeader .menu a:hover{
	border-top: 4px solid #b8272b;
	
	background-color: #1a1a1a;
}
.notification{
	background-image: url('images/notification.jpg');
	background-repeat: no-repeat;
	vertical-align: middle;
	display: inline-block;
	width: 37px;
	height: 30px;

}
.men{
	background-image: url('images/anirbans.jpg');
	background-repeat: no-repeat;
	vertical-align: middle;
	display: inline-block;
	width: 24px;
	height:24px;
	margin-left: 7px;
}
.blackHeader .headActive{
	border-top: 4px solid #b8272b;
    background-color: #1a1a1a;
}
.clear{
	clear: both;
}


.whiteHeader{
	background-color: #ffffff;
    padding-top: 14px;
    padding-bottom: 16px;
    border-bottom: 1px solid #d4d4d4;
}
.leftArrow{
    background-image: url('images/leftArrow.jpg');
	background-repeat: no-repeat;
	vertical-align: middle;
	display: inline-block;
    width: 23px;
    height: 23px;
    margin-right: 15px;
}
.whiteHeader .back span{
	font-size: 18px;
	line-height: 20px;
	color: #242424;
    display: inline-block;
    vertical-align: middle;
}
.whiteHeader .back{
    float: left;
    margin-top: 9px;
}
.upload{
	
	background-color: #c1272d;
	color: #fff;
	border-radius: 5px;	
	float: right;
    width: 175px;
    text-align: center;
    font-size: 15px;
    line-height: 24px;
    padding-top: 5px;
    padding-bottom: 6px;
    font-weight: 700;
}
.upload:hover{
	background-color: #ad2020;
}
.cloud{
    background-image: url('images/cloud.jpg');
	background-repeat: no-repeat;
	vertical-align: middle;
	display: inline-block;
    width: 22px;
    height: 14px;	
}
.whiteHeader .upload span{
    display: inline-block;
    vertical-align: middle;
}
.boxWrapper{
	background-color: #f2f2f2;
	padding-top: 13px;
	padding-bottom: 50px;
}
.leftBox{
	width: 559px;
	float: left;
}
.rightBox{
	width: 592px;
	float: right;
	margin-left: 14px;
}
.siteDetail{
	border: 1px solid #d4d4d4;
	background-color: #fff;
	margin-bottom: 13px;
    box-shadow: 0px 3px 0px 0px #d4d4d4;
}
.write{
    background-image: url('images/write.jpg');
	background-repeat: no-repeat;
	vertical-align: middle;
	display: inline-block;
    width: 20px;
    height: 16px;	
}
.edit{
	font-size: 13px;
	line-height: 25px;
	color: #101010;
	border: 1px solid #d4d4d4;
	border-radius: 5px;
	float: right;
    width: 65px;
    text-align: center;
	background: linear-gradient(#f9f9f9, #eaeaea);
}
.edit:hover{
    background: linear-gradient(#fbfbfb, #afafb0);
}
.edit span{
	display: inline-block;
	vertical-align: middle;
}
.locationBlock{
	display: block;
}
.headingInline{
	display: inline-block;
	vertical-align: middle;
}
.siteDetail h4{
	font-size: 16px;
	line-height: 18px;
	color: #000;
	float: left;
	margin-top: 7px;
	font-weight: 700;
}
.siteDetail .upperSection{
	padding: 12px 9px 13px 18px;
	border-bottom: 1px solid #d4d4d4;
	background: linear-gradient(#fefefe, #f7f7f7);
}
.surveyBox .upperSection{
	padding: 10px 9px 10px 18px;
	border-bottom: 1px solid #d4d4d4;
	background: linear-gradient(#fefefe, #f7f7f7);
}
.activityBox .upperSection{
	padding: 10px 9px 11px 18px;
	border-bottom: 1px solid #d4d4d4;
	background: linear-gradient(#fefefe, #f7f7f7);
} 
.lowerSection{
	padding: 15px 67px 15px 33px;
}
.lowerSection span{
	font-size: 20px;
	line-height: 22px;
	color: #000;
	font-weight: 400;
}
.location{

    background-image: url('images/location.png');
	background-repeat: no-repeat;
	vertical-align: middle;
	display: inline-block;
    width: 12px;
    height: 13px;	
}

.siteDetail label.blackClr{
	color: #000;
}
.leftCol{
	float: left;
}
.rightCol{
	float: right;
}
.siteDetail .lowerSection ul li.clear{
	clear: both;
	margin: 0;
	float: none;
	width: 0px;
}
.siteDetail .create{
    width: 188px;
    margin: 0px;
    float: left;
}
.siteDetail .size{
    width: 149px;
    float: left;
}
.siteDetail .group{
    float: left;
    width: 101px;
}
.siteDetail label{
	font-size: 12px;
	line-height: 18px;
	color: #818181;
	font-weight: 700;
	display: block;
}
.siteDetail .lowerSection ul{
	margin-top: 35px;
}
.surveyBox{

	border: 1px solid #d4d4d4;
	background-color: #fff;
	margin-bottom: 16px;
    box-shadow: 0px 3px 0px 0px #d4d4d4;

}
.oval{
	font-size: 14px;
	line-height: 16px;
	color: #505050;
	border-radius: 8px;
	border:1px solid #dedede;
	margin-left: 13px;
    padding: 2px 10px 2px 10px;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
}
.surveyBox .upperSection .survey{
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;
}

.surveyBox .upperSection .leftCol{
	margin-top: 6px;
}
.sort{
	border:1px solid #dedede;
	border-radius: 5px;
	background: linear-gradient(#f9f9f9, #eaeaea);
	color: #000;
	display: inline-block;
	margin-left: 6px;
    width: 77px;
    text-align: center;
    font-size: 14px;
    line-height: 31px;

}
.dropDown{
	position: relative;
    display: inline-block;
}
.sortDropdown{
	position: absolute;
	display: none;
	width:180px;
	right: 0px;
	z-index: 1;
	background: #fff;
	border: 1px solid #d7d7d7;
    top: -6px;
}
.surveyBox .upperSection .rightCol .dropDown .sortDropdown ul li{
	border-bottom: 1px solid #d4d4d4;
	padding: 0px;
}

.sortDropdown li a
{
	display: block;
    font-size: 14px;
    line-height: 16px;
    color:#505050;
    padding: 13px;
}
.dropDown:hover .sortDropdown
{
display: block;
}
.surveyBox .upperSection .rightCol .dropDown .sortDropdown ul li a:hover{
	background-color: #c9c9c9;
}
.sensorDown{
	background-image: url('images/down.jpg');
	background-repeat: no-repeat;
	vertical-align: middle;
	display: inline-block;
    width: 10px;
    height: 7px;	
    margin-left: 80px;
}

.down{

    background-image: url('images/down.jpg');
	background-repeat: no-repeat;
	vertical-align: middle;
	display: inline-block;
    width: 10px;
    height: 7px;	
    margin-left: 12px;
}
.surveyBox ul li .direction{

    background-image: url('images/direction.jpg');
	background-repeat: no-repeat;
    width: 6px;
    height: 10px;
    float: left;
    margin-top: 3px;	
}

.surveyBox ul li h5{
	font-size: 14px;
	line-height: 16px;
	color: #000;
	float: left;
	margin-bottom: 2px;
}
.date{
	display: block;
	font-size: 14px;
	line-height: 16px;
	color: #555555;
}

.surveyBox ul li{
	border-bottom: 1px solid #d4d4d4;

    padding: 9px 11px;
}
.surveyBox ul li .leftCol{
    width: 230px;
}
.surveyBox ul li .rgb{
	font-size: 14px;
	line-height: 16px;
	color: #000;
	font-weight: bold;
    float: left;
    margin-top: 4px;
 
}/*
.surveyBox ul li img{
	float: left;
	margin-right:*/ 

.plus{
	border: 1px solid #c9c9c9;
	border-radius: 5px;
	background-color: #fff;
	color: #c1272d;
	padding: 11px;
	font-size: 14px;
	font-weight: bold;
	float: left;
}

.surveyBox ul li .rightCol ul{
	width: 185px;
}
.surveyBox ul li .rightCol ul li{
	border:0px;
	float: left;
	padding: 0px;
	margin-right: 9px;
}
.surveyBox ul li .rightCol ul li.clr{
    clear: both;
    float: none;
    margin: 0px;
}
.leftSec{
	display: inline-block;margin-left: 17px;

}
.imgWrap{
	width: 177px;

}


.applyBox{
	border:1px solid  #cccccc;
    background-color: #fff;
    margin-bottom: 10px;
    box-shadow: 0px 3px 0px 0px #d4d4d4;
}
.applyBox img{

	background-repeat:no-repeat;
	width: 61px;
	height: 61px;
    
}
.applyBox a{
	 float: left;
	
}
.applyBox .margin a{
	margin-right: 15px;
	display: block;
}
.applyBox .margin .applyBtn a{
	margin-right: 0px;
}
.applyBox >ul li{
    padding-bottom: 8px;
    padding-left: 9px;
    padding-top: 7px;
    padding-right: 14px;
    border-top: 1px solid #d4d4d4;
}
 .applyBox .btn{
    background-color: #ba2527;
    border-radius: 5px;
    float: right;
    width: 84px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    
}
.applyBox .btn:hover{
	background-color: #ad2020;
}

 .applyBox .btn span{
 	color: #fff;
 	font-size: 15px;
 	line-height: 24px;
    float: none;
    margin: 0px;
    font-weight: 700;
 }
.btn{
	float: right;
	margin-top: 15px;
}

.applyBox ul li span{

    float: left;
    margin-top: 15px;
    font-size: 15px;
    line-height: 24px;
    color: #000;
    font-weight: 400;
}
.applyBox .applyHeader .leftTab{
	float: left;
	font-size: 15px;
	line-height: 17px;
	color: #505050;
}
.applyBox .applyHeader .rightTab{
	float: right;
}

.applyBox .applyHeader .leftTab ul{
	float: left;
}

.applyBox .applyHeader .leftTab ul li{
	float: left;
}

.applyBox .applyHeader {
	
	background: linear-gradient(#fefefe, #f7f7f7);
}
  ul.margin
    {
    	margin-top: -2px;
    	
    }
    .applyBox .applyHeader .leftTab a
    {
    	
    	border-right: 1px solid #d4d4d4;
	    padding-top: 17px;
	    padding-right: 25px;
	    padding-bottom: 19px;
	    padding-left: 20px;
        display: block;
	    color: #505050;
	    font-weight: bold;
	    font-size: 15px;

    }
    .applyBox .applyHeader .leftTab a:hover
    {
    border-bottom: none;
    background-color: #fff;
    	
    }
    .applyBox .applyHeader .rightTab a{
    	padding-top: 18px;
	    padding-right: 25px;
	    padding-bottom: 20px;
	    padding-left: 20px;
	    margin-right: 0px;
    }
    .applyBox .applyHeader .leftTab .active{

    background-color: #fff;
    border-bottom: 0px;
    }

.activityBox{

	border: 1px solid #d4d4d4;
	background-color: #fff;
	margin-top: 12px;
    box-shadow: 0px 3px 0px 0px #d4d4d4;
}
.update{
	border:1px solid #dedede;
	border-radius: 5px;
	background: linear-gradient(#fbfbfb, #eaeaea);
	color: #000;
	display: inline-block;
    width: 140px;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
}
.activityBox .upperSection .update:hover{
	background: linear-gradient(#fbfbfb, #afafb0);
}
.activityBox .upperSection .leftCol span{
	font-size: 15px;
	line-height: 17px;
	color: #505050;
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;
}

.activityBox .upperSection .leftCol{
	margin-top: 5px;
}
.activityBox .leftActivity{
    float: left;
    margin-left: 12px;
}
.activityBox .rightActivity{
	float: right;
}
.comment{

    background-image: url('images/comment.jpg');
	background-repeat: no-repeat;
	float: left;
    width: 17px;
    height: 18px;
    margin-top: 3px;
}

.activityBox .leftActivity p{
    width: 436px;
    display: inline-block;
}
.rightSidedate{
	display: block;
}
.redText{
	color: #c1272d;
	font-weight: 700;
}
.activityBox ul{

    font-size: 15px;
    line-height: 22px;
}

.activityBox ul li{
    padding: 16px 20px 16px 20px;
    border-bottom: 1px solid #d1d1d1;
}
.blackText{
	color:#000;
	font-weight: bold;
}
.right{

    background-image: url('images/right.jpg');
	background-repeat: no-repeat;
	float: left;
    width: 14px;
    height: 14px;
    margin-top: 3px;
}
.lowerActivity{
	color: #000;
	font-weight: bold;
	text-align: center;
	padding-top: 14px;
	padding-bottom: 14px;
    background: linear-gradient(#fefefe, #f7f7f7);
}
.lowerActivity span{ 
    font-size: 15px
	line-height:17px;
}

.activityBox ul li>p{
	margin-top: 15px;
    width: 524px;
    margin-left: 30px;
}
.activityBox .sample{
	margin-left: 30px;
}
.footer{
	background-color: #282828;
	text-align: center;
    font-size: 12px;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.whiteText{
	color: #fff;
	margin-right: 2px;
}
.rightBox> a{
	display: block;
}
.activityBox ul li .rightActivity span{
	text-align: right;
}
.activityBox .middle a{
	display: block;
}