html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Open Sans', sans-serif;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container{
	width: 1170px;
	margin: 0 auto;
}
.clear{
	clear: both;
}
.header .logo{
	float: left;
	margin-top: 40px;
}
.header img{
	display: block;
}
.subscribe{
	width: 415px;
	float: right;
	margin-top: 15px;
}
.subscribe span{
	font-size: 13px;
	line-height: 22px;
	display: inline-block;
	vertical-align: middle;
}
.sub span{
	color: #888;
	margin-right: 14px;
}
.followUs{
	color: #ccc;
	margin-left: 25px;

}
a.followMsg{
    background-image: url('sprite.png');
	background-repeat: no-repeat;
	vertical-align: middle;
	display: inline-block;
	width: 18px;
	height: 13px;
	background-position: 0px -1px;
}

a.followMsg:hover{
	background: #eee;
}
.subscribe ul{
	float: right;
}

.subscribe ul li span{
	margin-right: 16px;
}

.subscribe ul li{
	margin-left: 20px;
}

.subscribe ul li:first-child{
	margin-left: 0px;
}
.subscribe .sub{
	float: left;
	margin-left: 13px;
}
.subscribe ul li{
	float: left;
}

.subscribe ul li span{
    color: #cccccc; 
}
a.followFb{
    background-image: url('sprite.png');
	background-repeat: no-repeat;
	vertical-align: middle;
	display: inline-block;
	width: 8px;
	height: 16px;
	background-position: -75px 0px;
}

a.followFb:hover{
	background: #eee;
}
a.followTwitter{
    background-image: url('sprite.png');
	background-repeat: no-repeat;
	vertical-align: middle;
	display: inline-block;
	width: 16px;
	height: 13px;
	background-position: -49px -1px;
}

a.followTwitter:hover{
	background: #eee;
}
a.followLinked{
    background-image: url('sprite.png');
	background-repeat: no-repeat;
	vertical-align: middle;
	display: inline-block;
	width: 16px;
	height: 15px;
	background-position: -25px 0px;
}

a.followLinked:hover{
	background: #eee;
}
.textBox{
	width: 370px;
	font-size: 14px;
	line-height: 22px;
	color: #bababa;
    border: 1px solid #ddd;
    padding-left: 9px;
    padding-top: 5.5px;
    padding-bottom: 5.5px;
}
.searchBtn{
	width: 35px;
	background-color: #404caa;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -1px;
    background-image: url(images/search.png);
    background-repeat: no-repeat;
    background-position: center;
    border:none;
	
}
.searchBtn:hover{
	background-color: #122bea;
}
.search{
	background-image: url('images/search.png');
	background-repeat: no-repeat;
	display: inline-block;
	width: 16px;
	height: 16px;  
}
form{
	margin-top: 13px;
}
.subHeader{
	margin-top: 35px;
}
.subHeader ul li{
    float: left;
    margin-left: 20px;
}

.subHeader ul{
    border-bottom: 1px solid #ccc;
}
.subHeader ul li:first-child{
	margin-left: 0px;
}
.subHeader a{
    font-size: 14px;
    line-height: 22px;
    color: #222222;
    font-weight: 600;
	text-decoration: none;
    display: block;
    vertical-align: middle;
    border-bottom: 4px solid #fff;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

.subHeader a:hover{
	color: #1e2d9b;
	border-bottom: 4px solid #1e2d9b;

}
.down{
	background-image: url('sprite.png');
	background-repeat: no-repeat;
	vertical-align: middle;
	display: inline-block;
	width: 8px;
	height: 5px;
	background-position: -3px -30px;
	margin-left: 8px;
}
.subHeader li.clear{
	float: none;
}
.leftBox{
	width: 770px;
	float: left;
}
.rightBox{
	width: 370px;
	margin-left: 30px;
	float: right;
	padding-top: 49px;
}
.breadcrumb{
	font-size: 13px;
	line-height: 20px;
    padding-top: 20px;
    padding-bottom: 12px;
    border-bottom: 1px solid #eee;
}
.breadcrumb span{
	color: #777;
}
.breadcrumb a{
	padding-left: 3px;
    padding-right: 3px;
}

.breadcrumb a:hover{
	color: #f00a0a;
}   
.breadcrumb .lib, .breadcrumb .publication{
	color: #3c49a8;
}
.leftBox h2{
	font-weight: 600;
	font-size: 28px;
	line-height: 30px;
	color: #222222;
	margin-top: 24px;
}
.calender{
	background-image:url('sprite.png');
	background-repeat: no-repeat;
	vertical-align: middle;
	display: inline-block;
	width: 18px;
	height: 19px;
	background-position: -29px -25px;
}
.eye{
	background-image: url('sprite.png');
	background-repeat: no-repeat;
	vertical-align: middle;
	display: inline-block;
	width: 20px;
	height: 14px;
	background-position: -116px -34px;
}
.photo{
    vertical-align: middle;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.people{
	vertical-align: middle;
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;

}
.eyeBorder{
	display: inline-block;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    padding-left: 14px;
    padding-right: 14px;
}
.authorList .date{
	font-size: 16px;
	line-height: 35.91px;
	color: #444;
	margin-left: 11px;
    display: inline-block;
    vertical-align: middle;
}
.authorList .authors{
	font-size: 15px;
	line-height: 30px;
	color: #222;
    margin-left: 10px;
    float: left;
}
.authorList ul li{
	float: left;
	margin-left: 9px;
}

.authorList ul li:first-child{
	margin-left: 14px;
}
.authorList .infoWrap ul{
	float: left;
}

.authorList .infoWrap ul li{
    float: left;
}
.authorList ul{
	float: right;
}

.authorList ul li span{
	margin-left: 7px;
}
.authorList{
	border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    margin-top: 22px;
}
.paper>a{
    display: block; 
}
.paper{
	margin-top: 25px;
    margin-bottom: 25px;
}
.download{
    width: 208px;
    border-radius: 5px;
    border: 1px solid #1e2d9b;
    color: #1e2d9b;
    background-color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
}
.downloadBtn{
	float: left;
}
.downloadBtn a:hover{
     background-color: #1e2d9b;
     color: #fff;
}
.shareWrap{
	float: right;
}
.shareWrap>span{
	font-size: 16px;
	line-height: 18px;
	color: #888888;
	display: inline-block;
	vertical-align: middle;
	margin-top: 5px;
}
.shareWrap a{
	display: block;
}
a.shareFb:hover{
	border-bottom: 2px solid #3b5998;
}
a.shareTwitter:hover{
	border-bottom: 2px solid #55acee;
}
a.shareLinked:hover{
	border-bottom: 2px solid #007ab6;
}
a.shareMsg:hover{
	border-bottom: 2px solid #1e2d9b;
}
.shareWrap  ul{
	float: right;
}
.shareWrap ul li{
	float: left;
	margin-left: 11px;
}

.shareWrap ul li:first-child{
	margin-left: 16px;
}
.leftBox>p{
	font-size: 18px;
	line-height: 28px;
	color: #222222;
	margin-top: 30px;
    border-bottom: 1px solid #eee;
    padding-bottom: 18px;
}
.read{
	font-size: 18px;
	line-height: 28px;
	color: #1e2d9b;
	display: block;
}
.read:hover{
	color:#f30b42;
}
.newsText span{
	font-size: 14px;
	line-height: 28px;
	color: #222;
}

.newsText a{
	display: block;
	color: #1e2d9b;
	font-size: 14px;
	line-height: 28px;
}

.newsText a:hover{
	color: #f30b42;
}
.newsText{
    margin-top: 29px;
    padding-bottom: 29px;
    border-bottom: 1px solid #eee;
    margin-bottom: 16px;
}
h3{
	font-size: 20.05px;
	line-height: 22.05px;
	color: #222;
	font-weight: 600;
	display: inline-block;
	vertical-align: middle;
	margin-left: 12px;
}
.otherWrap{
    padding-bottom: 7px;
    border-bottom: 3px solid #ddd;
}
.relatedBox{
    padding: 13px 25px 15px 15px;
    border-bottom: 1px solid #e1e0e0;
}
.leftRelate{
	width: 340px;
    float: left;
    border-right: 1px solid #e1e0e0;
    padding-right: 30px;

}
.newsHead{
	font-size: 16px;
	line-height: 22px;
	color: #222;
	font-weight: 600;
}
.dateWrap span{
	color: #828282;
	font-size: 12px;
	line-height: 35.91px;
	margin-left: 5px;
}
.eyeSpace{
	margin-right: 20px;
}
.dateWrap{
	margin-top: 15px;
}
.leftRelate ul li{
    border-bottom: 1px solid #e3e3e3;
    padding-top: 6px;
    padding-right: 33px;
    padding-bottom: 15px;

}

.leftRelate ul li:nth-child(even){
	border-bottom: none;
}
.rightRelate ul li:nth-child(even){
	border-bottom: none;
}
.rightRelate{
	width: 340px;
	float: right;
}
.leftRelate li.helix{
	padding-right: 9px;
	
}
.rightRelate ul li{
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 15px;
    padding-top: 6px;
}
li.borderNone{
	border-bottom: 0px;
}
.mainWrap h3{
	font-size: 20px;
	line-height: 22px;
	color: #222;
	font-weight: 600;
	display: block;
    margin-left: 0px;
    margin-bottom: 20px;
    margin-top: 30px;
}
.commentWrapper{
	background-color: #fbfbfb;
	border:1px solid #e1e0e0;
	border-radius: 4px;
	margin-bottom: 50px;
	position: relative;
}
.commentsBtn a{
	text-decoration: none;
	color: #222;
}
.commentsBtn{
	border:1px solid #e1e0e0;
	background-color: #ededed;
	font-size: 14px;
	line-height: 16px;
	display: inline-block;
    width: 185px;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #000;

}
.commentWrapper .btnWrap{
    position: absolute;
    top: -16px;
    left: 17px;
}
.blueBox{
	background-color: #1e2d9b;
	display: inline-block;
    width: 30px;
    padding-top: 6px;
    padding-bottom: 8px;
    text-align: center;
}
.whiteLine{

	background-image: url('sprite.png');
	background-repeat: no-repeat;
	vertical-align: middle;
	display: inline-block;
	width: 16px;
	height: 2px;
	background-position: -343px -49px;
}
.commentWrapper .commentInfo{
	padding-top: 33px;
	padding-right: 30px;
	padding-left: 18px;
}
 .commentWrapper .commentForm{
 	padding-left: 63px;
 	padding-right: 30px;
 	padding-bottom: 32px;
 }
.commentWrapper span{
	font-size: 13px;
	line-height: 22px;
	color: #666666;
}

 .commentWrapper ul li{
 	padding-top: 19px;
 	
 }

 .commentWrapper ul .authorName{
	font-size: 15px;
	line-height: 22px;
	color: #222222;
}
.commentWrapper p{
	font-size: 15px;
	line-height: 20px;
	color: #444444;
	margin-left: 45px;
    border-bottom: 1px solid #eee;
    padding-bottom: 19px;

}
.commentWrapper .leftComment{
	float: left;
}
.commentWrapper .hours{
	float: right;
}
.imgWrap{
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
}
.commentWrapper h4{
	font-size: 17.95px;
	line-height: 24.93px;
	color: #000;
	font-weight: 600;
    margin-top: 30px;
    margin-bottom: 24px
}
.commentWrapper form label{
	font-size: 14px;
	line-height: 22px;
	color:#555;
	display: block;
	margin-bottom: 10px;
}
.commentWrapper form input{
	width: 100%;
	border:1px solid #ddd;
	border-radius: 3px;
	height: 33px;
	margin-bottom:25px;

}
.commentWrapper form .commentBox{
	height: 218px;
}
.commentWrapper form span{
	color: #ef1111;
}
.commentWrapper form .mailInfo{
	font-size: 12px;
	line-height: 22px;
	color: #888;
}
.commentWrapper form .submitComment{
   color: #2d3ba1;
   font-size: 18px;
   line-height: 18px;
   border:1px solid #2d3ba1;
   text-align: center;
   padding-top: 10px;
   padding-bottom: 28px;
   width: 189px;
   border-radius: 5px;
   height: 0px;
   display: inline-block;
   background-color: #fff;
   margin-top: 25px;
}
form .submitComment:hover{
	background-color: #2d3ba1;
	color: #fff;
}








.rightBox .libSection h3{
	font-size: 20px;
	line-height: 22px;
	color: #151515;
	font-weight: 600;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    display: inline-block;
    margin-left: 0px;
    width: 370px;
    padding-left: 9px;

}

.rightBox .libSection span{
	font-size: 16px;
	line-height: 22px;
	color: #222;
	margin-left: 16px;
}

.rightBox .libSection span:hover{
   color:#1e2d9b;
}
.video{
	background-image: url('sprite.png');
	background-repeat: no-repeat;
	vertical-align: middle;
	display: inline-block;
	width: 20px;
	height: 25px;
	background-position: -91px -25px;
}
.presentation{

	background-image: url('sprite.png');
	background-repeat: no-repeat;
	vertical-align: middle;
	display: inline-block;
	width: 20px;
	height: 25px;
	background-position: -126px -1px;
}
.blog{
	background-image: url('sprite.png');
	background-repeat: no-repeat;
	vertical-align: middle;
	display: inline-block;
	width: 20px;
	height: 25px;
	background-position: -55px -24px;

}
 .libSection ul{
    padding-left: 15px;
    padding-right: 15px;
 }
 .libSection ul li{
    
    border-bottom: 1px solid #e4e4e4;
    padding-top: 19px;
    padding-bottom: 15px;
    padding-left: 4px;
 }
 .other{

	background-image: url('sprite.png');
	background-repeat: no-repeat;
	vertical-align: middle;
	display: inline-block;
	width: 20px;
	height: 24px;
	background-position: -164px -0px;
 }
 .otherSection h3{
 	font-size: 20px;
	line-height: 22px;
	color: #151515;
	font-weight: 600;
   
    display: inline-block;
 }
 .upperSection{
 	width: 100%;
 	border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    padding-left: 8px;
 }
 .otherSection{
 	margin-top: 30px;
 }
 .otherLeft{
 	float: left;
 	font-size: 16px;
 	line-height: 22px;
 	color: #222;

 }
 .otherRight{
 	float: right;
 	font-size: 16px;
 	line-height: 22px;
 	color: #777;
 }
.otherSection ul{
	padding-left: 15px;
	padding-right: 15px;
}


.otherSection ul li{
    padding: 20px 9px 20px 11px;
    border-bottom: 1px solid #e4e4e4;
}
.rightBox a{
	text-decoration: none;
}

.otherSection a span:hover{
    color:#1e2d9b;
}
.publicationSection{
	margin-top: 30px;
}
.publicationSection a span{
	font-size: 16px;
	line-height: 22px;
	color: #222222;
	font-weight: 600;
}
.publicationSection ul{
	padding-left: 15px;
	padding-right: 15px;
}

.publicationSection ul li{
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 14px;
    padding-top: 15px;
}
.publicationSection a span:hover{
	color: #1e2d9b;
}
.tagSection{
	margin-top: 30px;
}
.tagSection li{
    font-size: 16px;
    line-height: 28px;
    
    border: 1px solid #e1e0e0;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    padding-left: 13px;
    padding-right: 15px;
    margin-bottom: 10px;
}
.tagSection ul li a{
	text-decoration: none;
	color: #777;
	display: block;
}

.tagSection ul li:hover{
    background-color: #1e2d9b;
    color: #fff;
}
.tagSection ul li:nth-child(odd){
	margin-right: 10px;
}
.tags{
	margin-top: 15px;
}
.footer a{
	text-decoration: none;

}
.footer{
	background-color: #0c0c0c;
    padding: 20px 15px 38px 15px;
}
.leftFooter{
	float: left;
}
.rightFooter{
	float: right;
}
.footer a{
	font-size: 14px;
	line-height: 22px;
	color: #fff;
}
.copyright{
	display: block;
	font-size: 12px;
	line-height: 22px;
	color: #fff;
	margin-top: 20px;
}
.rightFooter ul li{
	float: left;
	border-left: 1px solid #444;
	padding-left: 6px;
	padding-right: 6px;
}
.rightFooter li a{
    font-size: 12px;
	line-height: 22px;
	color: #fff;
}
.leftFooter a:hover{
	 color: #1e2d9b; 
}
.rightFooter li a:hover{
    color: #1e2d9b; 
}

.leftFooter a:first-child {
	border-right: 1px solid #444444;
	padding-right: 4px;
}
.rightFooter li:first-child{
	border-left:0px;
	padding-left: 0px; 
}
.rightFooter ul li.clear{
	clear: both;
	float: none;
}
.footer_msg{

	background-image: url('sprite.png');
	background-repeat: no-repeat;
	vertical-align: middle;
	display: inline-block;
	width: 18px;
	height: 16px;
	background-position: -227px -42px;
}
.footer_fb{
	background-image: url('sprite.png');
	background-repeat: no-repeat;
	vertical-align: middle;
	display: inline-block;
	width: 8px;
	height: 16px;
	background-position: -262px -41px;
}
.footer_twitter{
	background-image: url('sprite.png');
	background-repeat: no-repeat;
	vertical-align: middle;
	display: inline-block;
	width: 16px;
	height: 13px;
	background-position: -318px -45px;
}
.footer_linkedin{
	background-image: url('sprite.png');
	background-repeat: no-repeat;
	vertical-align: middle;
	display: inline-block;
	width: 16px;
	height: 15px;
	background-position: -289px -41px;
}
.social{
	margin-top: 24px;
}
.social span{
	font-size: 13px;
	line-height: 22px;
	color: #fff;
	margin-right: 14px;

}
.social ul li{
	border-left: 0px;

}

.social ul{
	float: right;
}
.social .bulletin{
	float: left;
}
.social .follow_us{
	float: right;
}